In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({
    "Apples":[20,30,50],
    "Bananas":[90,60,20]
},index=[0,1,2])

In [8]:
df

   Apples  Bananas
0      20       90
1      30       60
2      50       20

In [18]:
df.rename(columns={'Apples':'Grapes'})

   Grapes  Bananas
0      20       90
1      30       60
2      50       20

In [19]:
df

   Apples  Bananas
0      20       90
1      30       60
2      50       20